<html>
	<body>
		
	<div class="gtco-loader"></div>
	<div id="page">
	<section id="gtco-about" data-section="about">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
					<h1>Quien soy</h1>
                    <img src="https://tp-saladejuegos.herokuapp.com/assets/imagenes/quiensoy.jpg" alt="dfsfsd"style="display:inline" width="300" height="300">
					<p class="sub">Rubini Luz Melisa, 4to B TT. Estudiante de laboratorio 4 en la UTN de Avellaneda</p>
					<p class="subtle-text animate-box" data-animate-effect="fadeIn"></p>
				</div>
			</div>
		</div>
	</section>
	</div>

	</body>
</html>

