<html>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<body>
	<div>
		<div class="container">
			<div>
				<div class="col-md-8 col-md-offset-2 heading animate-box">
					<h1>Quien soy</h1>
                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF1B7r-Vb4d5w/profile-displayphoto-shrink_800_800/0/1595600745373?e=1622073600&v=beta&t=DtSzpvwtfauGKvUYWK1--D3rSwz-QS4wXsyQ9gK7vLw" alt="dfsfsd"style="display:inline" width="300" height="300">
					<p class="sub">Rubini Luz Melisa, 4to B TT. Estudiante de laboratorio 4 en la UTN de Avellaneda</p>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>

