<html>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <body>
        

        <section class="first-section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="text-content">
                  <h2>Sala de juegos</h2>
                  <div class="line-dec"></div>
                  <span>Trabajo práctico de Lab IV 2021</span>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="second-section">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <i class="fas fa-gamepad" style="font-size: 50px;"></i>
                  </div>
                  <h4><a [routerLink]="['/home']" >Juegos</a></h4>
                  <p>Lista de Juegos disponibles</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <i class="fas fa-ghost" style="font-size: 50px;"></i>
                  </div>
                  <h4><a [routerLink]="['/quiensoy']" >Quien soy</a></h4>
                  <p>Información del alumno.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <div class="icon">
                    <i class="fab fa-connectdevelop" style="font-size: 50px;"></i>                  
                  </div>
                  <h4><a [routerLink]="['/home']" >Configuración</a></h4>
                  <p>Tercera pestaña en caso de ser utilizada a futuro</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </footer>

    </body>
</html>