<html>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <div class="sign-container">
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Registrate</h1>
          <br><br><br>
          <span>ingresa mail y contraseña</span>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <input type="password" placeholder="Re-ingresa la contraseña" />
          <button id="signUp">Aceptar</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">

          <div class="overlay-panel overlay-right">
            <h1>¡Bienvenido!</h1>
            <p>Ingresa tus datos para poder registrarte y comenzar a jugar</p>
            <p>¿Ya tenes una cuenta? Ingresa:</p>
            <button class="ghost" id="signIn">Login</button>
          </div>
        </div>
      </div>
    </div>
    </div>
</html>
