<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<div class="topnav">
  <a class="active" href="#home" >Inicio</a>
  <a href="#news" >Login</a>
  <a href="#contact" >Registarse</a>
  <a href="#about" >Quien soy</a>
  <a href="https://github.com/luzrubini/sala-de-juegos"target="_blank">Github <i class="fab fa-github"></i></a>
</div>

  <app-home></app-home>
