<html>

    <div class="sign-container">
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Login</h1>
          <br><br><br>
          <span>ingresa mail y contraseña</span>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Aceptar</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">

          <div class="overlay-panel overlay-right">
            <h1>¡Bienvenido!</h1>
            <p>¿No tenes cuanta? Registrate para ingresar a la sala de juegos</p>
            <button class="ghost" id="signUp">Registrate</button>
          </div>
        </div>
      </div>
    </div>
    </div>
</html>